<!doctype html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <title>Hello, User!</title>
</head>

<body>
<header style="text-line-through-color: white">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark ">

        <a class="navbar-brand" href="#">
            <div type="text" id="AuthenticationUser"></div>
        </a>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" id="logout" href="/logout" style="color: white">Logout</a>
            </li>
        </ul>
    </nav>
</header>
<div class="container-fluid">
    <div class="row">
        <div class="col-2" style="background-color: white">
            <br> <br><br>
            <div class="nav flex-column nav-pills" id="v-pills-tab" aria-orientation="vertical" role="tablist"
                 style="height: 800px ">

                <a class="nav-link active" id="adminPill" data-toggle="pill" href="#admin" role="tab"
                   aria-controls="admin" aria-selected="true">Admin</a>

                <a class="nav-link" id="userPill" data-toggle="pill" href="#user" role="tab"
                   aria-controls="user" aria-selected="false">User</a>

            </div>
        </div>


        <div class="col-10" style="background-color: ghostwhite">
            <br> <br><br>
            <div class="tab-content">

                <div class="tab-pane fade show active" id="admin" role="tabpanel" aria-labelledby="adminPill">
                    <h1>Admin Panel</h1>

                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">

                            <a class="nav-item nav-link active" id="userTable-tab" data-toggle="tab" href="#userTable"
                               role="tab" aria-controls="userTable" aria-selected="true">User table</a>

                            <a class="nav-item nav-link" id="newUser-tab" data-toggle="tab" href="#newUser"
                               role="tab" aria-controls="newUser" aria-selected="false">New User</a>

                            <a class="nav-item nav-link" id="moderNews-tab" data-toggle="tab" href="#moderNews"
                               role="tab" aria-controls="moderNews" aria-selected="false">Moderation News
                                <span class="badge badge-warning" id="NoModerationNews"></span>

                            </a>
                        </div>
                    </nav>

                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="userTable"
                             role="tabpanel" aria-labelledby="userTable-tab">
                            <br>
                            <h3>All users</h3>
                            <div class="card px-3 py-4" style="width:97%">
                                <table class="table table-striped" id="tableUsers"
                                       aria-labelledby="user1">
                                    <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">First Name</th>
                                        <th scope="col">Last Name</th>
                                        <th scope="col">Age</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Role</th>
                                        <th scope="col">Edit</th>
                                        <th scope="col">Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>


                        <div class="tab-pane fade" id="moderNews"
                             role="tabpanel" aria-labelledby="moderNews-tab">
                            <br>
                            <h3>Suggested News</h3>
                            <div class="card px-3 py-4" style="width:97%">
                                <table class="table table-striped" id="tableNews"
                                       aria-labelledby="user2">
                                    <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Author</th>
                                        <th scope="col">Aggression</th>
                                        <th scope="col">News</th>
                                        <th scope="col">Publish</th>
                                        <th scope="col">Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="newUser" role="tabpanel" aria-labelledby="newUser-tab">
                            <br>
                            <h3>Add new user</h3>
                            <div class="card">
                                <br>
                                <div class="col-5 mx-auto text-center font-weight-bold" style="background-color: white">
                                    <form>

                                        <div class="form-group">
                                            <label for="formControlFirstName">First name</label>
                                            <input type="text" class="form-control" id="formControlFirstName"
                                                   placeholder="Ivan">
                                        </div>
                                        <div class="form-group">
                                            <label for="formControlLastName">Last name</label>
                                            <input type="text" class="form-control" id="formControlLastName"
                                                   placeholder="Ivanovich">
                                        </div>
                                        <div class="form-group">
                                            <label for="formControlAge">Age</label>
                                            <input type="number" class="form-control" id="formControlAge"
                                                   placeholder="24">
                                        </div>
                                        <div class="form-group">
                                            <label for="formControlEmail">Email address</label>
                                            <input type="email" class="form-control" id="formControlEmail"
                                                   placeholder="name@example.com">
                                        </div>
                                        <div class="form-group">
                                            <label for="formControlPass">Password</label>
                                            <input type="password" class="form-control" id="formControlPass"
                                                   placeholder="12345">
                                        </div>
                                        <div class="form-group">
                                            <label for="formControlRole">Role</label>
                                            <select class="custom-select" multiple size="2" id="formControlRole">
                                                <option value="ADMIN">Admin</option>
                                                <option value="USER">User</option>
                                            </select>
                                            <br><br>
                                            <a id="addUserButton" data-toggle="tab" href="#userTable"
                                               role="tab" aria-controls="userTable" aria-selected="true"
                                               class="button btn btn-success">
                                                Add new user
                                            </a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

                <div class="tab-pane fade" id="user" role="tabpanel" aria-labelledby="userPill">
                    <h1>User panel</h1>
                    <br>
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab-user" role="tablist">

                            <a class="nav-item nav-link active" id="aboutUser-tab" data-toggle="tab"
                               href="#aboutUserTable"
                               role="tab" aria-controls="aboutUserTable" aria-selected="true">Home</a>

                            <a class="nav-item nav-link" id="post-tab" data-toggle="tab" href="#post"
                               role="tab" aria-controls="post" aria-selected="false">News</a>
                        </div>
                    </nav>


                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="aboutUserTable"
                             role="tabpanel" aria-labelledby="aboutUser-tab">
                            <!--                                      Окно авторизованного пользователя-->
                            <h3>About user</h3>
                            <div class="card px-3 py-4">
                                <table class="table table-striped " style="width:97%" id="tableAuthenticationUser">
                                    <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">First Name</th>
                                        <th scope="col">Last Name</th>
                                        <th scope="col">Age</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Role</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>


                        <div class="tab-pane fade" id="post"
                             role="tabpanel" aria-labelledby="post-tab">
                            <br>
                            <form>
                                <div class="form-group" style="width:97%">
                                    <label for="formControlPublish" class="h4">Publish the post</label>
                                    <textarea class="form-control " id="formControlPublish" rows="3"
                                              placeholder="Write down what you have interesting!"></textarea>
                                </div>
                            </form>

                            <div class="row justify-content-end" style="width:98%">
                                <a id="addNewsButtonModal" data-toggle="tab" role="tab"
                                   href="#addNewsButtonModal" aria-selected="true"
                                   class="button btn btn-success"> Add post
                                </a>
                            </div>

                            <h3>Suggested News</h3>
                            <div class="card px-3 py-4" style="width:97%">
                                <table class="table table-striped" id="tableUserNews"
                                       aria-labelledby="user2">
                                    <thead>
                                    <tr>
                                        <th scope="col">Author</th>
                                        <th scope="col">News</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog"
     aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">
                    Edit user</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body text-center font-weight-bold" id="user1"
                 data-toggle="tab" href="#user1"
                 role="tab" aria-controls="table1">
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <form>
                            <div class="form-group">
                                <label for="formControlIdEdit">ID</label>
                                <input type="number" class="form-control"
                                       id="formControlIdEdit"
                                       disabled
                                       placeholder="1">
                            </div>
                            <div class="form-group">
                                <label for="formControlFirstName">First name</label>
                                <input type="text" class="form-control"
                                       id="formControlFirstNameEdit"
                                       placeholder="Ivan">
                            </div>
                            <div class="form-group">
                                <label for="formControlLastName">Last name</label>
                                <input type="text" class="form-control"
                                       id="formControlLastNameEdit"
                                       placeholder="Ivanovich">
                            </div>
                            <div class="form-group">
                                <label for="formControlAge">Age</label>
                                <input type="number" class="form-control"
                                       id="formControlAgeEdit"
                                       placeholder="24">
                            </div>
                            <div class="form-group">
                                <label for="formControlEmail">Email address</label>
                                <input type="email" class="form-control"
                                       id="formControlEmailEdit"
                                       placeholder="name@example.com">
                            </div>
                            <div class="form-group">
                                <label for="formControlPass">Password</label>
                                <input type="password" class="form-control"
                                       id="formControlPassEdit"
                                       placeholder="12345">
                            </div>
                            <div class="form-group">
                                <label for="formControlRoleEdit">Role</label>
                                <select class="custom-select" multiple
                                        size="2"
                                        id="formControlRoleEdit">
                                    <option value="ADMIN">Admin</option>
                                    <option value="USER">User</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">Close
                </button>
                <button type="button" class="btn btn-primary" id="editButton"
                        data-dismiss="modal">
                    Edit
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
     aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">
                    Edit user</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body text-center font-weight-bold" id="user12"
                 data-toggle="tab" href="#user1"
                 role="tab" aria-controls="table1">
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <form>
                            <div class="form-group">
                                <label for="formControlIDelete">ID</label>
                                <input type="number" class="form-control"
                                       id="formControlIDelete"
                                       disabled
                                       placeholder="1">
                            </div>
                            <div class="form-group">
                                <label for="formControlFirstName">First name</label>
                                <input type="text" class="form-control"
                                       id="formControlFirstNameDelete"
                                       disabled
                                       placeholder="Ivan">
                            </div>
                            <div class="form-group">
                                <label for="formControlLastName">Last name</label>
                                <input type="text" class="form-control"
                                       id="formControlLastNameDelete"
                                       disabled
                                       placeholder="Ivanovich">
                            </div>
                            <div class="form-group">
                                <label for="formControlAge">Age</label>
                                <input type="number" class="form-control"
                                       id="formControlAgeDelete"
                                       disabled
                                       placeholder="24">
                            </div>
                            <div class="form-group">
                                <label for="formControlEmail">Email address</label>
                                <input type="email" class="form-control"
                                       id="formControlEmailDelete"
                                       disabled
                                       placeholder="name@example.com">
                            </div>
                            <div class="form-group">
                                <label for="formControlPass">Password</label>
                                <input type="password" class="form-control"
                                       id="formControlPassDelete"
                                       disabled
                                       placeholder="12345">
                            </div>
                            <div class="form-group">
                                <label for="formControlRoleDelete">Role</label>
                                <input type="text" class="form-control"
                                       id="formControlRoleDelete"
                                       disabled
                                       placeholder="Admin User">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">Close
                </button>
                <button type="button" class="btn btn-primary" id="deleteButton"
                        data-dismiss="modal">
                    Delete
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="acceptModal" tabindex="-1" role="dialog"
     aria-labelledby="acceptModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="acceptModalLabel">
                    Accept post</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body text-center font-weight-bold" id="modal"
                 data-toggle="tab" href="#modal"
                 role="tab" aria-controls="table1">
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <form>
                            <div class="form-group">
                                <label for="formControlIdAccept">ID</label>
                                <input type="number" class="form-control"
                                       id="formControlIdAccept"
                                       disabled
                                       placeholder="Hello world!">
                            </div>
                            <div class="form-group">
                                <label for="formControlIAuthorAccept">Author</label>
                                <input type="text" class="form-control"
                                       id="formControlIAuthorAccept"
                                       disabled
                                       placeholder="Ivan">
                            </div>
                            <div class="form-group">
                                <label for="formControlNewsAccept">News</label>
                                <input type="text" class="form-control"
                                       id="formControlNewsAccept"
                                       disabled
                                       placeholder="Hello world!">
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">Close
                </button>
                <button type="button" class="btn btn-primary" id="acceptButton"
                        data-dismiss="modal">
                    Accept
                </button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="rejectModal" tabindex="-1" role="dialog"
     aria-labelledby="rejectModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="rejectModalLabel">
                    Reject post</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body text-center font-weight-bold" id="modalreject"
                 data-toggle="tab" href="#modal"
                 role="tab" aria-controls="table1">
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <form>
                            <div class="form-group">
                                <label for="formControlIdAccept">ID</label>
                                <input type="number" class="form-control"
                                       id="formControlIdReject"
                                       disabled
                                       placeholder="1!">
                            </div>
                            <div class="form-group">
                                <label for="formControlIAuthorAccept">Author</label>
                                <input type="text" class="form-control"
                                       id="formControlIAuthorReject"
                                       disabled
                                       placeholder="Ivan">
                            </div>
                            <div class="form-group">
                                <label for="formControlNewsAccept">News</label>
                                <input type="text" class="form-control"
                                       id="formControlNewsReject"
                                       disabled
                                       placeholder="Hello world!">
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">Close
                </button>
                <button type="button" class="btn btn-primary" id="rejectButton"
                        data-dismiss="modal">Reject
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addNewsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="formControlToPublish" class="h4"></label>
                    <textarea class="form-control " id="formControlToPublish" rows="3"
                              placeholder="Write down what you have interesting!">

                    </textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="publishNewsButton" data-dismiss="modal" class="btn btn-primary">Publish
                </button>
            </div>
        </div>
    </div>
</div>


<script>
    let roleUserToAdmin;
    let authenticationUser;
    const socket = new WebSocket("ws://localhost:8080/admin/post/view/count");

    $(document).ready(function () {

        viewTableAuthenticationUser();
        authorizationUserToRole();
        viewTableUsers();
        viewTableNewsForAdmin();
        viewTableNewsForUser();


        $("#addUserButton").click(function () {
            $("#userTable-tab").click();
            addUser();
        });

        $("#editButton").click(function () {
            editUser();
        });

        $("#deleteButton").click(function () {
            deleteUser();
        });

        $("#acceptButton").click(function () {
            moderationByAdmin();
            viewTableNewsForAdmin();
            viewTableNewsForUser();
        });

        $("#rejectButton").click(function () {
            deleteNews();
            viewTableNewsForAdmin();
            viewTableNewsForUser();
        });

        $("#addNewsButtonModal").click(function () {
            const content = $("#formControlPublish").val();
            $("#formControlToPublish").val(content);
            $("#addNewsModal").modal('show');
        });

        $("#publishNewsButton").click(function () {
            addNews();
            viewTableNewsForAdmin();
            $("#formControlPublish").val("");
        });


        $('#tableUsers').on('click', '.btn-edit', function () {
            const name = $(this).parent().parent().find(".userName").html();
            const lastName = $(this).parent().parent().find(".lastName").html();
            const age = $(this).parent().parent().find(".age").html();
            const email = $(this).parent().parent().find(".email").html();
            const role = $(this).parent().parent().find(".userRole").html();
            const id = $(this).parent().parent().find(".id").html();
            $("#formControlFirstNameEdit").val(name);
            $("#formControlLastNameEdit").val(lastName);
            $("#formControlAgeEdit").val(age);
            $("#formControlEmailEdit").val(email);
            $("#formControlRoleEdit").val(role);
            $("#formControlIdEdit").val(id);
            $("#editModal").modal('show');
        });

        $('#tableUsers').on('click', '.btn-delete', function () {
            const name = $(this).parent().parent().find(".userName").html();
            const lastName = $(this).parent().parent().find(".lastName").html();
            const age = $(this).parent().parent().find(".age").html();
            const email = $(this).parent().parent().find(".email").html();
            const role = $(this).parent().parent().find(".userRole").html();
            const id = $(this).parent().parent().find(".id").html();
            $("#formControlFirstNameDelete").val(name);
            $("#formControlLastNameDelete").val(lastName);
            $("#formControlAgeDelete").val(age);
            $("#formControlEmailDelete").val(email);
            $("#formControlRoleDelete").val(role);
            $("#formControlIDelete").val(id);
            $("#deleteModal").modal('show');
        });

        $('#tableNews').on('click', '.btn-accept', function () {
            const id = $(this).parent().parent().find(".id").html();
            const author = $(this).parent().parent().find(".author").html();
            const content = $(this).parent().parent().find(".content").html();
            $("#formControlIAuthorAccept").val(author);
            $("#formControlNewsAccept").val(content);
            $("#formControlIdAccept").val(id);
            $("#acceptModal").modal('show');
        });

        $('#tableNews').on('click', '.btn-reject', function () {
            const id = $(this).parent().parent().find(".id").html();
            const author = $(this).parent().parent().find(".author").html();
            const content = $(this).parent().parent().find(".content").html();
            $("#formControlIAuthorReject").val(author);
            $("#formControlNewsReject").val(content);
            $("#formControlIdReject").val(id);
            $("#rejectModal").modal('show');
        });

    });


    function authorizationUserToRole() {
        if (roleUserToAdmin === "" || roleUserToAdmin == null) {
            $("#adminPill").attr("hidden", true);
            $("#userPill").click();
        }
    }

    function checkModerationNews() {
        if (socket.readyState === 1) {
            socket.send("");
        }
        console.log(socket.readyState)
        socket.addEventListener('open', () => {
            console.log('WebSocket-соединение установлено ' + socket.readyState);
            setTimeout(() => {
            }, 3000);
            socket.send("");
        });
        socket.onmessage = function (event) {
            $('#NoModerationNews').html("")
                .append(event.data);

        };
    }


    function viewTableUsers() {
        $("#tableUsers tbody").html("");
        $.ajax({
            type: "GET",
            url: "admin/service",
            contentType: "application/json; charset=utf-8",
            data: "",
            async: false,
            success: function (results) {
                results.forEach(user => {
                    $("#tableUsers tbody").append(
                        "<tr>" +
                        "<td class='id' >" + user.id + "</td>" +
                        "<td class='userName' >" + user.username + "</td>" +
                        "<td class='lastName'>" + user.lastName + "</td>" +
                        "<td class='age'>" + user.age + "</td>" +
                        "<td class='email'>" + user.email + "</td>" +
                        "<td class='userRole'>" + user.roleUser + " " + user.roleAdmin + "</td>" +
                        "<td >" + "<button  type='submit' class='btn btn-info btn-edit'> " +
                        "Edit</button>" + "</td>" +
                        "<td >" + "<button class='btn btn-danger btn-delete'> " +
                        "Delete</button>" + "</td>" +
                        " </tr>"
                    );
                });
            }
        });
    }

    function viewTableAuthenticationUser() {
        roleUserToAdmin = "";
        $("#tableAuthenticationUser tbody").html("");
        $.ajax({
            type: "GET",
            url: "authentication",
            contentType: "application/json; charset=utf-8",
            data: "",
            async: false,
            success: function (user) {
                $("#tableAuthenticationUser tbody").append(
                    "<tr>" +
                    "<td class='id' >" + user.id + "</td>" +
                    "<td class='userName' >" + user.username + "</td>" +
                    "<td class='lastName'>" + user.lastName + "</td>" +
                    "<td class='age'>" + user.age + "</td>" +
                    "<td class='email'>" + user.email + "</td>" +
                    "<td class='userRole'>" + user.roleUser + " " + user.roleAdmin + "</td>" +
                    "</tr>"
                );
                roleUserToAdmin = user.roleAdmin;
                authenticationUser = user.username;
                $("#AuthenticationUser").html("")
                    .append(user.email + " with roles: " + user.roleUser + " " + user.roleAdmin);


            }
        });
    }

    function addUser() {
        $.ajax({
            type: "POST",
            url: "admin/save",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            data: JSON.stringify(
                {
                    username: $("#formControlFirstName").val(),
                    lastName: $("#formControlLastName").val(),
                    age: $("#formControlAge").val(),
                    email: $("#formControlEmail").val(),
                    password: $("#formControlPass").val(),
                    roles: $("#formControlRole").val(),
                }
            ),
        });
        viewTableUsers();
    }

    function editUser() {
        $.ajax({
            type: "PUT",
            url: "admin/update",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            data: JSON.stringify(
                {
                    id: $("#formControlIdEdit").val(),
                    username: $("#formControlFirstNameEdit").val(),
                    lastName: $("#formControlLastNameEdit").val(),
                    age: $("#formControlAgeEdit").val(),
                    email: $("#formControlEmailEdit").val(),
                    password: $("#formControlPassEdit").val(),
                    roles: $("#formControlRoleEdit").val(),
                }
            ),
            success: function () {
            },
        });
        viewTableUsers();
        viewTableAuthenticationUser();
        authorizationUserToRole();


    }

    function deleteUser() {
        var idUser = $("#formControlIDelete").val()
        $.ajax({
            type: "DELETE",
            url: "admin/delete/" + idUser,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            success: function () {
            },
        });
        viewTableUsers();
        viewTableAuthenticationUser();
        authorizationUserToRole();
    }


    function viewTableNewsForAdmin() {
        $("#tableNews tbody").html("");
        $.ajax({
            type: "GET",
            url: "admin/post/view",
            contentType: "application/json; charset=utf-8",
            data: "",
            async: false,
            success: function (results) {
                results.forEach(post => {
                    $("#tableNews tbody").append(
                        "<tr>" +
                        "<td class='id' >" + post.id + "</td>" +
                        "<td class='author' >" + post.author + "</td>" +
                        "<td class='assessmentAggression' >" + post.assessmentAggression + "</td>" +
                        "<td class='content' >" + post.content + "</td>" +
                        "<td >" + "<button   class='btn btn-info btn-accept'> " +
                        "Accept</button>" + "</td>" +
                        "<td >" + "<button class='btn btn-danger btn-reject'> " +
                        "Reject</button>" + "</td>" +
                        " </tr>"
                    );

                });
            }
        });
        checkModerationNews();
    }


    function viewTableNewsForUser() {
        $("#tableUserNews tbody").html("");
        $.ajax({
            type: "GET",
            url: "post/view",
            contentType: "application/json; charset=utf-8",
            data: "",
            async: false,
            success: function (results) {
                results.forEach(post => {
                    $("#tableUserNews tbody").append(
                        "<tr>" +
                        "<td class='Author' >" + post.author + "</td>" +
                        "<td class='News' >" + post.content + "</td>" +
                        " </tr>"
                    );
                });
            }
        });
    }

    function moderationByAdmin() {
        var idNews = $("#formControlIdAccept").val();
        $.ajax({
            type: "PUT",
            url: "admin/post/moderation/" + idNews,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            success: function () {
            },
        });
    }

    function addNews() {
        $.ajax({
            type: "POST",
            url: "/post/save",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            data: JSON.stringify(
                {
                    content: $("#formControlToPublish").val(),
                    author: authenticationUser,

                }
            ),
        });
        viewTableUsers();
    }


    function deleteNews() {
        var idRejectNews = $("#formControlIdReject").val();
        $.ajax({
            type: "DELETE",
            url: "admin/post/delete/" + idRejectNews,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            success: function () {
            },
        });
    }

</script>
<script
        src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>